body {
    background-image: url("background.png");
}

h1 {
    font-family: Verdana;
    align-content: center;
    height: auto;
    width: auto;
    /*+border-radius: 2.5em;*/
    -moz-border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -khtml-border-radius: 2.5em;
    border-radius: 2.5em;
    text-align: center;
    padding: 0em;
    margin: 0em;
    border: 0px solid black;
}

/* inline menubar css */
ul {
    overflow: visible;
    background-color: #943281;
    font-size: 2em;
    min-height: 4em;
    font-family: Verdana;
    /*+border-radius: 0.5em;*/
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
    position: relative;
}

li {
    max-width: 100%;
    display: block;
    margin-right: 1.5em;
}

li a {
    display: block;
    max-width: 100%;
    text-align: center;
    line-height: 1.5em;
    font-family: Verdana;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1em;
    position: relative;
}

li a:hover {
    background-color: rgba(110, 40, 100, 0.700);
    /*+border-radius: 0.5em;*/
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
}

/* menu end */
#newsSection{
    margin: 1.5em;
    margin-top: 2.5em;
    color: #000000;
    background-color: #FFFFFF;
    outline: 0.1em solid #A841BD;
    padding: 2em;
    text-align: center;
    max-width:60%;
    float: left;
}

@media only screen and (max-width: 1350px){
    #newsSection{
        max-width: 100%;
        float: left;
    }
}

#mainSection {
    margin: 2.5em;
    /*+border-radius: 0em;*/
    -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
    -khtml-border-radius: 0em;
    border-radius: 0em;
    color: #000000;
    background-color: #FFFFFF;
    outline: 0.1em solid #A841BD;
    padding: 2em;
    max-width: 90%;
}

#wrapper {
    border-width: 2px;
    border-style: groove;
    border-color: #A841BD;
}

#twitterFeed{
    margin: 0.5em;
    margin-top: 2.5em;
    float: right;
}
